<div class="container">
<div class="login form">
      <header>Recuperar contraseña</header>
      <form id="recoverForm" action="/api/users/recover" method="POST" >
        <input type="email" id="email" name="email" placeholder="Email">
        <button type="submit" class="button" >Enviar</button>
      </form>
      <div class="signup">
        <span class="signup">No tienes una cuenta?
         <label for="check"><a href="/register">Signup</a></label>
        </span><br>
        <span class="signup">Ya tienes una cuenta?
         <label for="check"><a href="/login">Login</a></label>
        </span>
      </div>
  </div>
</div>