<header>
    <div>
        <a class="logo" href="/products"><h1 >Ecommerce</h1></a>
        </div>
    <div>
        <nav>
            <a class = "box" id="chat-btn">Chat</a>
            <a class = "box"id="role-btn">Rol</a>
            <a href = "/manager" class = "box" id="manager-btn">Manager</a>
            <a href ="/login"class = "box" id="logout-btn">Salir</a>
        </nav>
    </div>
    
        <div class="user">

            <p class="user-email" id="user-email" >{{user.email}}</p>
            <p>Rol:{{user.role}}</p>
            <p>ID Carrito: {{user.cart._id}}</p>
            
        </div>
</header>

<section>
<form action="">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <label for=""></label>
    <input type="text">
    <button></button>
</form>
<form action="">
    <label for=""></label>
    <input type=""> 
    <button></button>
</form>
<form action="">
    <label for=""></label>
    <input type="radio">
    <label for=""></label>
    <input type="radio">
    <button></button>
</form>
</section>
<script>
    
</script>